html{
    min-height: 100vh;
}

body{
    min-height: 100%;
}

main{
    background: #fffffe;
}

nav{
    background: #272353;
}

/* refactor bootstrap class */

.btn-outline-primary {
    border-color: #272353;
    color: #272353;
    border-width: 1px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
}

.btn-outline-primary:hover {
    background-color: #272353;
    border-color: #272353;
    color: #fffffe;
    border-width: 1px;
}

.btn-outline-primary:focus {
    border-color: #272353;
    box-shadow: none;
    outline: none;
    border-width: 1px;
}
