{% extends 'base.html.twig' %}

{% form_theme newUserForm 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Nouvel Utilisateur
{% endblock %}

{% block main %}
    <style>
        label, h1{
            color:#272353;
        }
    </style>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3 mt-5">
            <h1 class="text-center">Nouvel utilisateur </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6  p-3">
            {% block form %}
                {{ form_start(newUserForm) }}
                {{ form_widget(newUserForm) }}
                <br>
                <button type="submit" class="btn btn-block" style="background-color: #ffd803; color:#272353">Ajouter l'utilisateur
                </button>
                {{ form_end(newUserForm) }}
            {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}



